.debug {
    .mr-3.flex-none.overflow-hidden.w-auto > span > a > img {
        transform: rotate(180deg) scaleY(-1) scaleX(-1);
        filter: invert(1);
    }
}

.mr-3.flex-none.overflow-hidden.w-auto {
    > span > a > img {
        height: 40px !important;
        width: initial !important;
        padding: 0 10px !important;
        transition: 0.5s !important;
    }

    overflow: initial !important;
}
